fastapi
uvicorn[standard]
motor
pymongo
bcrypt
PyJWT
pydantic[email]
python-dotenv
opencv-python-headless
deepface
tf-keras
cloudinary
SQLAlchemy[asyncio]
asyncpg
aiosqlite
reportlab==4.0.8
pytz
numpy
fastapi-cache2
redis
